<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>skinFinds</title>
</head>

<body>

    {% block body %}{% endblock %}
    <header>
        <center><h1>skinFinds</h1></center>
    </header>
    
    {% block nav %}
        <a href="/">Home</a></li>
        <a href="/product_list">Product List</a></li>
        <a href="/cleanser">Cleansers</a></li>
        <a href="/moisturizer">Moisturizers</a></li>
        <a href="/essence">Essences</a></li>
        <a href="/toner">Toners</a></li>
        <a href="/sunscreen">Sunscreens</a></li>

    {% endblock %}


    <main>
        {% block main %} {% endblock %}
    </main>

    <footer>
        <hr>
        <small>
          &copy; Aida Duong, 2025
        </small>
      </footer> 
</body>

</html>